/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

body {
    color: #17273b;
}
code {
    background-color: #dfeaf7;
}
/*
code.hljs {
    background-color: #dfeaf7;
}*/

h1, h2, h3, h4, h5, h6 {
    color: #122844;
}

h2.headerTitleWithLogo {
    color: white;
}

h3.navGroupCategoryTitle.collapsible {
    color: #365ABD !important;
}

h4.navGroupSubcategoryTitle {
    color: #6982c8 !important;
}

a {
    color: #6a8cc2;
}

a.navItem {
    color: #17273b !important;
}

.navigationSlider .slidingNav ul li a {
    color: white !important;
}

.darkBackground {
    /*background-color: #c7dbf4;*/
    background-color: #ffffff;
}

table th, table td {
    border-color: #122844;
}

.darkBackground a {
    /*color: #c7dbf4;*/
    color: #1a3682;
}

a:hover {
    color: #a3d00e !important; 
}

.toc .toggleNav ul li.navListItemActive a, .toc .toggleNav ul li a:focus, .toc .toggleNav ul li a:hover {
    color: #a3d00e !important;
}


div.grid-menu {
    display: grid;
    grid-template-columns: 1fr;
}

div.grid-menu > div.menu-item {
/*    background-color: #2b2a2a;
    border-bottom: 1px solid #3c3b3c;
*/
    font-size: 18px;
    padding-bottom: 5px;
}

/*.blockElement.alignCenter.fourByGridBlock.imageAlignTop {
    background-color: #1a3682;
}*/

.blockElement.alignCenter.fourByGridBlock.imageAlignTop  h2 {
    margin: 16px auto !important;
}

.blockElement.alignCenter.fourByGridBlock.imageAlignTop  img {
    margin: 10px auto 0 auto !important;
}

.menu-item a {
    /*color: #fff;*/
    color: #1a3682; 
}

.menu-item a:hover {
    color: #95b4e6 !important; 
}

.mainContainer {
    padding-top: 0px;
}

.container.paddingTop {
    padding-top: 0px;
}

.container.paddingBottom {
    padding-bottom: 0rem;
}

.nav-footer {
    background-color: #1a3682;
}

.fixedHeaderContainer {
    background-color: #1a3682;
}
.navigationSlider .slidingNav ul li.siteNavGroupActive>a {
    color: #fff !important;
    background-color: #1a3682; 
}
/*.navigationSlider .slidingNav ul li.siteNavGroupActive>a,*/ .navigationSlider .slidingNav ul li.siteNavItemActive>a, .navigationSlider .slidingNav ul li>a:focus, .navigationSlider .slidingNav ul li>a:hover {
    color: #1a3682 !important;
    background-color: #c7dbf4;
}

.ee-only {
    color: #fc6d26;
    font-weight: bold;
}

.tooltip .tooltiptext {
  visibility: hidden;
  max-width: 200px;
  background-color: #1a3682b3;
  color: #fff;
  text-align: center;
  border-radius: 0.25rem;
  padding: 0.25rem 1px;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 3rem;
  left: 12%;
  font-size: 0.8rem;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
  }